################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/HTICakinator/database_dummy.json
/HTICakinator/database_dummy0917.json
